body { 
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#changepass_div{
	padding: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	height: 300px;
	width: 280px;
	opacity: 0.9;
	background-color: #ffffff;
	border-radius: 20px;
	border: 2px solid grey;
	text-align: center;
}

#changepass_form{
	margin: 0 auto; 
	padding-top: 10%;
}

i.icon-white{
	color: #ffffff;
}

a.icon-teal{
	background-color:  #00868B;
	border-radius: 50px;
	width: 50px;
	vertical-align: center;
}

